/*Font files*/
@font-face {
    font-family: 'Dalelands';
    src: url('../fonts/dalelands.woff2') format('woff2')
}
@font-face {
    font-family: 'Draconis';
    src: url('../fonts/draconis.woff2') format('woff2')
}
@font-face {
    font-family: 'NorseBold';
    src: url('../fonts/norse-bold.woff2') format('woff2')
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto.woff2') format('woff2')
}
@font-face {
    font-family: 'SourceSansPro';
    src: url('../fonts/sourcesanspro.woff2') format('woff2')
}
@font-face {
    font-family: 'Vecna';
    src: url('../fonts/vecna.woff2') format('woff2')
}

/*Font implementations*/
h1{
    font-family: 'Dalelands','Times New Roman', serif;
    font-size: 4.5rem;
    text-align: center;
    color: white;
}

p {
    font-family: 'SourceSansPro', 'Roboto', sans-serif;
    font-size: 1.5rem;
	font-weight: 300;

}

/*Animations*/
@keyframes bump {
    0% {transform: scale(1);}
    100% {transform: scale(1.1);}
}

@keyframes shake {
    0%   {transform: scale(1) rotate(0deg);}
    50%  {transform: scale(1.1) rotate(-10deg);}
    100% {transform: scale(1.3) rotate(10deg);}
  }

/*Zodiac button styles*/

#Aqu {
    background-color: #0a2a61;
    background-image: url('../img/sym/wizard.png');
    filter: contrast(1.25) saturate(.75) drop-shadow(0px 0px 5px #1c6fff);
}

#Aqu:hover {
    background-color: #1c6fff;
    filter: brightness(1.5) drop-shadow(0px 0px 10px #1c6fff);
}

#Pis {
    background-color: #40285c;
    background-image: url('../img/sym/warlock.png');
    filter: contrast(1.25) saturate(.75) drop-shadow(0px 0px 5px #8e2aff);
}

#Pis:hover {
    background-color: #8e2aff;
    filter: brightness(1.5) drop-shadow(0px 0px 10px #8e2aff);
}

#Ari {
    background-color: #812f19;
    background-image: url('../img/sym/barbarian.png');
    filter: contrast(1.25) saturate(.75) drop-shadow(0px 0px 5px #fc5c30);
}

#Ari:hover {
    background-color: #fc5c30;
    filter: brightness(1.5) drop-shadow(0px 0px 10px #fc5c30);
}

#Tau {
    background-color: #58491c;
    background-image: url('../img/sym/paladin.png');
    filter: contrast(1.25) saturate(.75) drop-shadow(0px 0px 5px #cfa117);
}

#Tau:hover {
    background-color: #cfa117;
    filter: brightness(1.5) drop-shadow(0px 0px 10px #cfa117);
}

#Gem {
    background-color: #473447;
    background-image: url('../img/sym/bard.png');
    filter: contrast(1.25) saturate(.75) drop-shadow(0px 0px 5px #d46dd4);
}

#Gem:hover {
    background-color: #d46dd4;
    filter: brightness(1.5) drop-shadow(0px 0px 10px #d46dd4);
}

#Can {
    background-color: #404621;
    background-image: url('../img/sym/druid.png');
    filter: contrast(1.25) saturate(.75) drop-shadow(0px 0px 5px #6e7e22);
}

#Can:hover {
    background-color: #6e7e22;
    filter: brightness(1.5) drop-shadow(0px 0px 10px #6e7e22);
}

#Leo {
    background-color: #492022;
    background-image: url('../img/sym/sorcerer.png');
    filter: contrast(1.25) saturate(.75) drop-shadow(0px 0px 5px #9b1c22);
}

#Leo:hover {
    background-color: #9b1c22;
    filter: brightness(1.5) drop-shadow(0px 0px 10px #9b1c22);
}

#Vir {
    background-color: #251009;
    background-image: url('../img/sym/fighter.png');
    filter: contrast(1.25) saturate(.75) drop-shadow(0px 0px 5px #772a10);
}

#Vir:hover {
    background-color: #772a10;
    filter: brightness(1.5) drop-shadow(0px 0px 10px #772a10);
}

#Lib {
    background-color: rgb(80, 80, 80);
    background-image: url('../img/sym/cleric.png');
    filter: contrast(1.25) saturate(.75) drop-shadow(0px 0px 5px #fff);
}

#Lib:hover {
    background-color: #fff;
    filter: brightness(1.5) drop-shadow(0px 0px 10px #fff);
}

#Sco {
    background-color: #21221f;
    background-image: url('../img/sym/rogue.png');
    filter: contrast(1.25) saturate(.75) drop-shadow(0px 0px 5px #000);
}

#Sco:hover {
    background-color: #000;
    filter: brightness(1.5) drop-shadow(0px 0px 10px #000);
}

#Sag {
    background-color: #1f3528;
    background-image: url('../img/sym/ranger.png');
    filter: contrast(1.25) saturate(.75) drop-shadow(0px 0px 5px #277244);
}

#Sag:hover {
    background-color: #277244;
    filter: brightness(1.5) drop-shadow(0px 0px 10px #277244);
}

#Cap {
    background-color: #103746;
    background-image: url('../img/sym/monk.png');
    filter: contrast(1.25) saturate(.75) drop-shadow(0px 0px 5px #2f97be);
}

#Cap:hover {
    background-color: #2f97be;
    filter: brightness(1.5) drop-shadow(0px 0px 10px #2f97be);
}

/*Miscellaneous CSS styling*/
#bday {
    border: none;
    border-radius: 5px;
    font-family: 'SourceSansPro', 'Roboto', sans-serif;
    font-size: 1rem;
	font-weight: 300;
    padding: 1rem;
}

body {
    background: #000;
    background-image: url('../img/back/background.png');
    background-size: cover;
    margin: 20px;

    opacity: 1;
    /*transition: opacity 3s;*/
    transition: 1.5s;
}

body.blackScreen, #character.blackScreen {
    opacity: 0;
    transition: none;
}

#btn-help-open {
    border: none;
    border-radius: 100%;
    font-family: 'Draconis', Garamond, serif;
    font-size: 1.75rem;
    height: 4rem;
    padding: 1rem 1rem;
    position: fixed;
    right: 2rem;
    text-align: center;
    top: 2rem;
    width: 4rem;
    z-index: 200;
}

#buttons {
    align-self: center;
    background-color: transparent;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: auto;
    max-width: 1200px;
    padding: .5rem;
}

.cButton {
    background-color: transparent;
    background-image: url('../img/sym/barbarian.jpg');
    background-size: cover;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    height: 80px;
    justify-self: center;
    margin: 10px;
    width: 80px;
}

.cButton:hover {
    animation: shake ease-in .15s forwards;
}

#character {
    align-self: center;
    background-color: transparent;
    filter: brightness(.8);
    height: 70vh;
    min-width: 400px;
    object-fit: contain;
    object-position: center top;
    opacity: 1;
    transition: 1.5s;
    width: 40vw;
}

#description {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    color: white;
    line-height: 1.5;
    max-width: 80vw;
    min-height: 9rem;
    min-width: 300px;
    padding: 2rem;
    width: 30vw;
}

#footer {
    color: lightgray;
    display: flex;
    font-family: 'SourceSansPro', 'Roboto', sans-serif;
    font-size: 1rem;
	font-weight: 300;
    justify-content: center;
    justify-self: center;
    padding: 1rem .5rem 0;
}

.heading {
    align-self: center;
    max-width: 100%;
    text-transform: uppercase;
}

#helpText {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    line-height: 1.5;
    max-width: 80vw;
    min-height: 6rem;
    min-width: 300px;
    padding: 2rem;
    text-align: left;
    width: 40vw;
}

[hidden] {
	display: none !important;
}

#info {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

#middle {
	align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.modal {
    align-items: center;
    display: flex;
    flex-direction: column;
	height: 100vh;
    justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
    width: 100vw;
	z-index: 99;
}

.modal .blanket {
	background-color: rgba(0, 0, 0, .8);
    background-image: url('../img/back/background.png');
    background-size: cover;
	height: 100%;
    left: 0;
    margin: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.modal-body {
    align-items: center;
    display: flex;
	flex-direction: column;
    justify-content: center;
    padding: 3rem;
	position: relative;
	text-align: center;
    z-index: 101;
}

.primary {
    background-color: red;
    color: white;
}

.prompt {
    color: white;
}

.rectButton {
    border: none;
    border-radius: 5px;
    font-family: 'Draconis', Garamond, serif;
    font-size: 1.75rem;
    padding: 0.75rem 1rem;
    text-align: center;
    width: 10rem;
}

.rectButton:hover {
    animation: bump ease-in .1s forwards;
}

.rectButton:hover, #btn-help-open:hover {
    filter: drop-shadow(0px 0px 10px gold);

}

.secondary {
    background-color: white;
    color: black;
}

#wrapper {
    align-self: center;
    background-color: transparent;
    margin: .5rem auto;
    max-width: 1280px;
    min-width: 360px;
    padding: 1rem;
}